body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #f3f3f3;
}

main {
	flex: 1 0 auto;
}

#title-label{
	font-size: 23px;
}

.inline{
	display: inline;
}

.large-font{
	font-size: 23px;
}

.bottom-right-btn{
	bottom: 35px; 
	right: 24px;
}

@media only screen and (min-width : 993px) {
	.bottom-right-btn{
		bottom: 57px;
		right: 35px;
	}
}

.small-spacing{
	line-height: 150%;
}

.tabs .indicator{
	background-color: #03a9f4;
}

.tabs .tab a{
	color: #03a9f4;
}

.tabs .tab a:hover{
	color: #64b5f6;
}

nav .nav-wrapper i.large{
	font-size: 6rem;
}
